body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/concrete_seamless.png);
}

.container {
    width: 965px;
    margin: auto;
    display: flex;
}

/* Header */

.header {
    background-color: #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 80px;
    width: 100%;
    border-bottom: 2px solid #ccc;
    height: 90px;
    margin-bottom:40px;
}

.head {
    display: flex;
    width: 965px;
    align-items: center;
    justify-content: space-between;
    
    
}

.name {
    width: 40%;
}

.name h1 {
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;

}

.nav {
    /* width: 10%; */
    text-align: center;
    display: flex;
    margin-left: 100px;

}

.nav a:first-child {
    border-left: 0 none;
}

.nav a {
    font-size: 25px;
    text-decoration: none;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    border-left: 1px solid #efefef;
}

/* Main card */

main {
    min-height: calc(100vh - 228px);  /* For sticky footer */
}

main section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 65%;
}

.main-card {
    background-color: #fff;
    padding: 30px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    margin-bottom: 40px;
    margin: 0 10px;
}

.head-text {
    color: #4AAAA5;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card h1 {
    font-size: 30px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-body .card-img {
    width: 200px;
    height: 150px;
    margin: 10px 25px 0 0;
}

.card-text {
    display: block;
    flex: 70%;
    font-size: 18px;
    color: #777;
    line-height: 2;
}

/* Social */

.social {
    height: 200px;
    flex: 25%;
}

.social h2 {
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
}

.social .social-item img {
    width: 62px;
    height: 62px;
    display: block;
    margin-right: 7px;
}

.social .social-item img:hover {
    opacity: .8;
}

/* Footer */

.footer-section {
    margin: 0;
    background-color: #666;
    border-top: 10px solid #4AAAA5;
    height: 120px;
    color: #666;
    font-size: 12px;
    width: 100%;
}

.footer-section p {
    text-align: center;
    margin: 45px 0 0 0;
    color: #ccc;
}

/* Portfolio */
 .portfolio-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-img {
    margin: auto;
    width: 274px;
    height: 206px;
    object-fit: cover;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
}

.portfolio-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s all ease-in-out;
}

.portfolio-img:hover > img {
    transform: scale(1.2);
}

.portfolio-img:hover > .img-text {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(85, 82, 82);
    cursor: pointer;
}

.img-text {
    position: absolute;
    left: 0;
    bottom: 10px;
    background-color: #4AAAA5;
    color: #fff;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    transition: .2s all ease-in-out;
}
/* Contact */

form .form-group label {
    font-size: 18px;
    color: #777;
    display: block;
    margin-bottom: 10px;
}

form .form-group .form-input {
    padding: 10px;
    width: 100%;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-bottom: 20px;
}

form .form-group textarea {
    resize: none;
}

form button {
    background-color: #4AAAA5;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

form button:hover {
    background-color: #507575;
}
